*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial, Helvetica, sans-serif;
scroll-behavior:smooth;
}

body{
background:#f4f4f4;
color:#333;
transition:0.4s;
}

body.dark{
background:#121212;
color:#eee;
}

section{
padding:80px 10%;
}

h1,h2,h3{
margin-bottom:15px;
}

p{
line-height:1.6;
}

/* css for navigation bar*/

nav{
position:fixed;
top:0;
left:0;
width:100%;
background:#fff;
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 10%;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
z-index:1000;
transition:0.3s;
}

body.dark nav{
background:#1e1e1e;
}

.logo{
font-size:22px;
font-weight:bold;
color:#0077ff;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:25px;
}

nav ul li a{
text-decoration:none;
color:inherit;
font-weight:500;
}

.menu-toggle{
display:none;
font-size:26px;
cursor:pointer;
}

.toggle-btn{
cursor:pointer;
border:none;
background:#0077ff;
color:white;
padding:8px 14px;
border-radius:4px;
}

/* hero class css*/

.hero{
min-height:100vh;
display:flex;
align-items:center;
justify-content:space-between;
gap:40px;
}

.hero-text{
flex:1;
}

.hero-text h1{
font-size:45px;
}

.hero-text span{
color:#0077ff;
}

.hero img{
width:320px;
border-radius:50%;
}

/*css code for about section*/

.about{
display:flex;
gap:40px;
align-items:center;
}

.about img{
width:300px;
border-radius:10px;
}




/*css code for responsive pages*/
@media(max-width:900px){

.hero{
flex-direction:column;
text-align:center;
}

.about{
flex-direction:column;
}

nav ul{
position:absolute;
top:70px;
left:-100%;
flex-direction:column;
background:white;
width:100%;
padding:20px;
transition:0.3s;
}

body.dark nav ul{
background:#1e1e1e;
}

nav ul.show{
left:0;
}

.menu-toggle{
display:block;
}

}


